.button {
    text-align: center;
    width: 120px;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
/*    align-self: end;*/
/*    grid-row: 1;
    justify-content: center;*/
}

