.button {
    text-align: center;
    width: 120px;
    border-style: solid;
    border-color: #508041;
    border-radius: 20px;
    margin: 10px;
    background: #1dff37;
    box-shadow: inset 0 0 15px #469237;
}

