.stage {
    text-align: center;
    background: #9feffbb8;
    border-radius: 25px;
    border-style: solid;
    border-color: #61b4fa;
    border-width: 2px;
    margin: 10px 10px;
    box-shadow: inset 0 0 15px #5eb9c7;
}

.tasks {
    height: 334px;
    overflow-y: scroll;
}

.tasks-no-scroll {
    overflow-y: hidden;
}

/* width */
.tasks::-webkit-scrollbar {
    margin-right: 5px;
    width: 8px;
}

/* Track */
.tasks::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.tasks::-webkit-scrollbar-thumb {
    background: #ffcba8;
    border-radius: 10px;
}

/* Handle on hover */
.tasks::-webkit-scrollbar-thumb:hover {
    background: #ffb447;
}

.next-stage-button {
    background: #fbf225;
    text-align: center;
    width: 200px;
    border-style: solid;
    border-color: #9f8200;
    border-radius: 20px;
    margin: 10px;
    box-shadow: inset 0 0 15px #a89826;
}